.img-box {
    width: 1000px;
    height: 330px;
    margin: 0 auto;
    border-radius: 10px;
    background-image: -moz-linear-gradient(0deg, rgba(0, 229, 255, 0.98), rgba(204, 255, 0, 0.36));

    background-image: -webkit-linear-gradient(0deg, rgba(0, 229, 255, 0.98), rgba(204, 255, 0, 0.36));

    background-image: linear-gradient(0deg, rgba(0, 229, 255, 0.98), rgba(204, 255, 0, 0.36));
}


.single-img {
    position: relative;
    width: 230px;
    float: left;
    border-radius: 5px;
    margin: 10px;
}

.image {
    display: block;
    width: 200px;
    height: 112.213px;
    border-radius: 10px;
}

.img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #144775;
    overflow: hidden;
    width: 200px;
    border-radius: 10px;
    height: 0;
    transition: .5s ease;
}

.single-img:hover .img-overlay {
    height: 100%;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-family: poppins;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.text span {
    font-weight: 300;
}

.text a {
    /* 相对定位 */
    position: relative;
    /* width: 400px;
    height: 100px; */
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    /* 渐变背景 */
    background: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #09a8f4);
    /* 背景渐变色大小 */
    background-size: 400%;
    /* 圆角 */
    border-radius: 50px;
    z-index: 1;
}

/* 发光效果 */
.text a::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    /* 渐变背景 */
    background: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #09a8f4);
    /* 背景渐变色大小 */
    background-size: 400%;
    /* 圆角 */
    border-radius: 50px;
    /* 位于按钮之下 */
    z-index: -1;
    /* 设置模糊度 显示发光效果 */
    filter: blur(20px);
}

/* 鼠标移入执行动画 */
.text a:hover {
    /* 动画：名称 时间 infinite是无限次播放 */
    animation: streamer 8s infinite;
}

.text a:hover::before {
    animation: streamer 8s infinite;
}

/* 接下来定义动画 */
@keyframes streamer {
    100% {
        /* 背景位置 */
        background-position: -400% 0;
    }
}